force-app/main/default/flows/ff_online_edition_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_2c97ea0c_56ed_4da7_a180_bc5701e38ec1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recordLookupFaultConnectorAssignment</name>
        <label>recordLookupFaultConnectorAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>faultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>thankYouDefaultSectionAssignment</name>
        <label>thankYouDefaultSectionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>thankYouLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouLabelTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouDescriptionTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaText0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaTextTextTemplate00</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thankYouCtaUrl0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thankYouCtaUrlInternalVar00</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>c_071fdf8d_3052_472b_a525_9724e2acf95a</name>
        <choiceText>Homewise Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homewise Website</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0eaf0ba5_6c24_46e9_a4a2_7ed20c0cf86a</name>
        <choiceText>It was very hard for me to find the materials with the information provided</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>It was very hard for me to find the materials with the information provided</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_16799d7b_416e_414e_84e7_1d5dcc424676</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1a7a19ca_a584_452d_aa78_66a114c37220</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_24c07892_c1bd_4c69_a034_aea06d12b405</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_47f84797_4f10_4d68_bc9d_261621ad7bb5</name>
        <choiceText>Facebook</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Facebook</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4fd2d8cb_7810_47d0_acd8_b95a53e22748</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_54d30661_2350_4a60_b1c0_901104647e33</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_61fb2a01_8d2d_407c_ac61_b25d66c3d833</name>
        <choiceText>It was a little tricky for me to follow the links and find the materials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>It was a little tricky for me to follow the links and find the materials</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_648e16df_f55d_459e_9609_3da85a537592</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6bd12357_e086_483a_95bf_c64bcbd885a4</name>
        <choiceText>Renter, not interested in buying at this time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renter, not interested in buying at this time</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8b756384_9ae7_4087_95a6_9bbcb7b0f55a</name>
        <choiceText>Banking Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Banking Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_92bda9f6_8c86_4cd5_9df7_e2cd089a5ab4</name>
        <choiceText>Messages about Money</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Messages about Money</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d9f7caa_05a5_4487_a58b_042f615bd12f</name>
        <choiceText>Everything was very easy for me to access and it was clearly laid out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Everything was very easy for me to access and it was clearly laid out</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9e42c6ee_c4c1_4d62_80be_f6a5344f5d02</name>
        <choiceText>I had to call Homewise to ask for help to access the videos, handouts and/or learning checks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I had to call Homewise to ask for help to access the videos, handouts and/or learning checks</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a450acaa_639f_4174_bef8_0a33006a4bc9</name>
        <choiceText>Debt Reduction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Debt Reduction</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a91ff04d_9c0f_4dae_bd0c_d4f3f236a4ff</name>
        <choiceText>Homeowner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Homeowner</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b1cb9f1e_96a4_4d88_9f7e_26e83c7b2d1b</name>
        <choiceText>Saving to Meet Your Goals</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saving to Meet Your Goals</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b3a498f2_fd34_4c39_a22e_03140e076a20</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b616d2ee_5f4a_4830_8854_281b6545c97a</name>
        <choiceText>Want to buy a home, have not met with anyone at Homewise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Want to buy a home, have not met with anyone at Homewise</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b794b2da_9d0a_4bf5_bece_7fd38b1a05f2</name>
        <choiceText>Informative and Helpful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bc2ccf90_3f57_4622_a22a_33d8c76a4268</name>
        <choiceText>Credit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf7693c9_b9af_43b7_b559_7fadd8b5905e</name>
        <choiceText>Not helpful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d283a29d_c91e_4b86_b568_7a73b1d412a4</name>
        <choiceText>Word of mouth (friends, coworkers, family)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Word of mouth (friends, coworkers, family)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d3b94873_8750_4e7e_9005_d0f3dca9d638</name>
        <choiceText>Want to buy a home, have met with someone at Homewise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Want to buy a home, have met with someone at Homewise</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d621afa2_16dd_4583_808e_189b72cc8317</name>
        <choiceText>Budget</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Budget</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dd29a6bf_4274_4481_ab90_c88246fbc30b</name>
        <choiceText>My Home Purchase Advisor referred me</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My Home Purchase Advisor referred me</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_de9929e3_2d13_4d07_8115_5bb7dd278277</name>
        <choiceText>I received a flyer in the mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I received a flyer in the mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_df669a5a_ae97_4db2_9f77_72e4dec8a920</name>
        <choiceText>Not useful at all</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e4855d96_e1ee_4997_803d_c6854411423b</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e8d2c358_bb00_4c0b_8333_062b9f45468e</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f4c1a9a7_3851_4ac3_a6e2_ed4fa4118e4c</name>
        <choiceText>Very Helpful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fa23e73e_7ff0_4cf0_8e5c_3097cf7e8108</name>
        <choiceText>Goal Setting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Goal Setting</stringValue>
        </value>
    </choices>
    <interviewLabel>FF - Online Evaluation - Eng</interviewLabel>
    <label>FF - Online Evaluation - Eng</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_ff_online_edition_survey_4_7cb8edcc_a2a7_4a30_ae36_b518c3f7add8</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isAutosaveEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>participantMergeFieldName</name>
        <value>
            <stringValue>Participant</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>recordMergeFieldName</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>Homewise &lt;info@homewise.org&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>FF_Evaluation_1738776284599</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <recordLookups>
        <name>surveyParticipantRecordLookup_Participant</name>
        <label>surveyParticipantRecordLookup_Participant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>targetParticipantLookup_Participant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>recordLookupFaultConnectorAssignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invitationId</elementReference>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <outputAssignments>
            <assignToReference>surveyParticipantLookupIdVar</assignToReference>
            <field>ParticipantId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>surveySubjectRecordLookup_Lead</name>
        <label>surveySubjectRecordLookup_Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>targetRecordLookup_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>recordLookupFaultConnectorAssignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SurveyInvitationId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>SurveyInvitationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invitationId</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SubjectEntityType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>SubjectEntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <object>SurveySubject</object>
        <outputAssignments>
            <assignToReference>surveySubjectLookupSubjectIdVar</assignToReference>
            <field>SubjectId</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>targetParticipantLookup_Participant</name>
        <label>targetParticipantLookup_Participant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pageNamesInOrder_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>surveyParticipantLookupIdVar</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Participant</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>targetRecordLookup_Lead</name>
        <label>targetRecordLookup_Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>surveyParticipantRecordLookup_Participant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>surveySubjectLookupSubjectIdVar</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>p_2c97ea0c_56ed_4da7_a180_bc5701e38ec1</name>
        <label>Evaluation Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>thankYouDefaultSectionAssignment</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_eaf8cebe_9fb7_47bd_880a_7e852be96921_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_eaf8cebe_9fb7_47bd_880a_7e852be96921</name>
            <choiceReferences>c_cf7693c9_b9af_43b7_b559_7fadd8b5905e</choiceReferences>
            <choiceReferences>c_4fd2d8cb_7810_47d0_acd8_b95a53e22748</choiceReferences>
            <choiceReferences>c_54d30661_2350_4a60_b1c0_901104647e33</choiceReferences>
            <choiceReferences>c_e8d2c358_bb00_4c0b_8333_062b9f45468e</choiceReferences>
            <choiceReferences>c_f4c1a9a7_3851_4ac3_a6e2_ed4fa4118e4c</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;How would you rate the Financial Fitness for Life – Online Edition workshop overall?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ccfc9610_25c4_4305_aa09_1c3f90070d1f</name>
            <choiceReferences>c_92bda9f6_8c86_4cd5_9df7_e2cd089a5ab4</choiceReferences>
            <choiceReferences>c_fa23e73e_7ff0_4cf0_8e5c_3097cf7e8108</choiceReferences>
            <choiceReferences>c_a450acaa_639f_4174_bef8_0a33006a4bc9</choiceReferences>
            <choiceReferences>c_bc2ccf90_3f57_4622_a22a_33d8c76a4268</choiceReferences>
            <choiceReferences>c_d621afa2_16dd_4583_808e_189b72cc8317</choiceReferences>
            <choiceReferences>c_b1cb9f1e_96a4_4d88_9f7e_26e83c7b2d1b</choiceReferences>
            <choiceReferences>c_8b756384_9ae7_4087_95a6_9bbcb7b0f55a</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Which of the following activities or topics were most useful to you?&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;(select as many as you’d like)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0cc2b83f_a022_4e50_92ad_6ea2abb8906a</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;What was the least helpful topic reviewed in the workshop and why?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_325d1c0b_844a_4990_93a6_a4fc91c7b26e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Would you make any changes to the class? Was there a topic you would like to see that we didn’t cover?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6020b8a7_9f65_4155_a5cc_cc63e3dd8357</name>
            <choiceReferences>c_1a7a19ca_a584_452d_aa78_66a114c37220</choiceReferences>
            <choiceReferences>c_b3a498f2_fd34_4c39_a22e_03140e076a20</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Did you use the accompanying handouts?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_8ad73b92_7980_479d_9204_6f16df435d8d_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8ad73b92_7980_479d_9204_6f16df435d8d</name>
            <choiceReferences>c_df669a5a_ae97_4db2_9f77_72e4dec8a920</choiceReferences>
            <choiceReferences>c_24c07892_c1bd_4c69_a034_aea06d12b405</choiceReferences>
            <choiceReferences>c_648e16df_f55d_459e_9609_3da85a537592</choiceReferences>
            <choiceReferences>c_16799d7b_416e_414e_84e7_1d5dcc424676</choiceReferences>
            <choiceReferences>c_b794b2da_9d0a_4bf5_bece_7fd38b1a05f2</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Please rate the usefulness of the accompanying handouts with the workshop:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5def5341_27b6_4c5b_8a77_e2ee04b644cc</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Were the video modules helpful and easy to understand? Why?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_039b4cac_eeac_40d4_99c8_59fd54440acf</name>
            <choiceReferences>c_9d9f7caa_05a5_4487_a58b_042f615bd12f</choiceReferences>
            <choiceReferences>c_61fb2a01_8d2d_407c_ac61_b25d66c3d833</choiceReferences>
            <choiceReferences>c_0eaf0ba5_6c24_46e9_a4a2_7ed20c0cf86a</choiceReferences>
            <choiceReferences>c_9e42c6ee_c4c1_4d62_80be_f6a5344f5d02</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;How easy was it to access the website, videos and learning check?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f20d4e9a_ceac_42be_9c2e_a2f611616fd3</name>
            <choiceReferences>c_b616d2ee_5f4a_4830_8854_281b6545c97a</choiceReferences>
            <choiceReferences>c_d3b94873_8750_4e7e_9005_d0f3dca9d638</choiceReferences>
            <choiceReferences>c_a91ff04d_9c0f_4dae_bd0c_d4f3f236a4ff</choiceReferences>
            <choiceReferences>c_6bd12357_e086_483a_95bf_c64bcbd885a4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Which of the following best describes you?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_eb80182f_7996_43bf_9007_7706d8f9a8a5</name>
            <choiceReferences>c_47f84797_4f10_4d68_bc9d_261621ad7bb5</choiceReferences>
            <choiceReferences>c_de9929e3_2d13_4d07_8115_5bb7dd278277</choiceReferences>
            <choiceReferences>c_dd29a6bf_4274_4481_ab90_c88246fbc30b</choiceReferences>
            <choiceReferences>c_d283a29d_c91e_4b86_b568_7a73b1d412a4</choiceReferences>
            <choiceReferences>c_071fdf8d_3052_472b_a525_9724e2acf95a</choiceReferences>
            <choiceReferences>c_e4855d96_e1ee_4997_803d_c6854411423b</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;How did you hear about this class?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_2c97ea0c_56ed_4da7_a180_bc5701e38ec1</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>surveySubjectRecordLookup_Lead</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate00</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Go to Homewise</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;We thank you, {!Participant.FirstName} for taking the time to complete this evaluation and we look forward to seeing you in another class soon!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You may close this tab or click the button below to be returned back to the Homewise home page.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 14pt;&quot;&gt;Welcome to the Financial Fitness For Life – Online Evaluation!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>faultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Participant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>surveyParticipantLookupIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>surveySubjectLookupSubjectIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaText0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaText1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaText2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrl2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouCtaUrlInternalVar00</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://homewise.org/</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouRedirectUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_q_8ad73b92_7980_479d_9204_6f16df435d8d_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_eaf8cebe_9fb7_47bd_880a_7e852be96921_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
