force-app/main/default/flows/ff_online_evaluation_spanish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_661c3bee_f86c_4f80_ad27_3e4a40676d78</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_090e9d1f_8305_4cec_b21d_88c28566bc00</name>
        <choiceText>De mucha ayuda</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0f989808_29a8_4d68_8eca_cb79a9214d22</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1ce7e52b_b62f_45aa_8799_9c3da6c7e850</name>
        <choiceText>Soy due&amp;ntilde;o/a de casa actualmente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Soy dueño/a de casa actualmente</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_22c3cbc2_fb06_4d0d_a530_bf45910a3bff</name>
        <choiceText>No son &amp;uacute;tiles en absoluto</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_394cf08d_d6e5_4873_b142_3ef42206a08e</name>
        <choiceText>Informativo y &amp;uacute;til</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_45a36354_152a_4f24_833c_7edd1ff842fb</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5222dab7_e2e0_408c_b17a_4543b4f1e49f</name>
        <choiceText>Relacion con el Dinero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relacion con el Dinero</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_53c42508_4b2b_44cd_88d4_1b8dd8804684</name>
        <choiceText>S&amp;iacute;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5405497d_f089_47ae_b066_42e7b9a0ecae</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_545b8952_cfaa_4d14_8cbc_79b5fcd0f9a4</name>
        <choiceText>Quiero comprar una casa. A&amp;uacute;n no he juntado con alguien en Homewise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quiero comprar una casa. Aún no he juntado con alguien en Homewise</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_605965e0_65d1_456e_9928_43ffb27ff321</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_628cd80c_f0f9_4de6_8461_13f6b3868aba</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7225caba_668b_44be_922c_17581bf4058f</name>
        <choiceText>Fue un poco complicado para m&amp;iacute; seguir los enlaces y encontrar los materiales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fue un poco complicado para mí seguir los enlaces y encontrar los materiales</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_74606475_67c1_42fc_8212_0c312ea4bd51</name>
        <choiceText>Reducir la Deuda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reducir la Deuda</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7aaf5713_6193_4ac2_973c_33a122c2bc85</name>
        <choiceText>Construyendo su Estlidilidad Financiera (Presupuesto)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Construyendo su Estlidilidad Financiera (Presupuesto)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7d123572_208e_46a5_940c_e504313bd195</name>
        <choiceText>De ninguna ayuda</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_80c7f970_04c6_49e7_b492_ca3f525e19db</name>
        <choiceText>Quier comprar una casa. S&amp;iacute;, he tenido cita con alguien en Homewise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quier comprar una casa. Sí, he tenido cita con alguien en Homewise</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_82c9df2a_40a5_4e1f_a582_3233701ec04f</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_87793b8c_8dc9_48f4_b297_a751dc713a76</name>
        <choiceText>Recib&amp;iacute; algo por correo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recibí algo por correo</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_894e6022_4681_42a9_9c62_560c0c4ff8ec</name>
        <choiceText>Las Metas Financieras</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Las Metas Financieras</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_93177313_82e8_44cf_8edc_7c5f9a0f59f5</name>
        <choiceText>Todo fue muy f&amp;aacute;cil de acceder para m&amp;iacute; y estaba claramente organizado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Todo fue muy fácil de acceder para mí y estaba claramente organizado</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9c968061_c29c_4eea_beab_7ff8f375da1f</name>
        <choiceText>Me result&amp;oacute; muy dif&amp;iacute;cil encontrar los materiales con la informaci&amp;oacute;n proporcionada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Me resultó muy difícil encontrar los materiales con la información proporcionada</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a6981988_4f26_4013_89b1_977699f78cd4</name>
        <choiceText>Estoy rentando actualmente. No estoy interesado/a en comprar al momento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estoy rentando actualmente. No estoy interesado/a en comprar al momento</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b3103738_2025_4467_8838_b19e34fbe16f</name>
        <choiceText>Entendiendo el Cr&amp;eacute;dito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Entendiendo el Crédito</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b5503837_7337_43f9_a7b9_1d2d0f3dd154</name>
        <choiceText>Por me asesor en compra de casa de Homewise</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Por me asesor en compra de casa de Homewise</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bf9ac2be_0a52_4a01_ada9_a1a11b14c1ee</name>
        <choiceText>Otro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otro</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e2d33242_95e2_4c95_bc51_f903a528f8e9</name>
        <choiceText>De familia o amigos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>De familia o amigos</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e3f30b2d_6678_45d4_ada9_9174c98b2f40</name>
        <choiceText>Opciones Bancarias</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opciones Bancarias</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e6c7d6ba_99cd_47c6_932c_d2c558a4d4ec</name>
        <choiceText>Facebook</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Facebook</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f11377ce_2b26_4937_afc8_83bf06bc5eb7</name>
        <choiceText>Tuve que llamar a Homewise para pedir ayuda para acceder a los videos, folletos y/o verificaciones de aprendizaje</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuve que llamar a Homewise para pedir ayuda para acceder a los videos, folletos y/o verificaciones de aprendizaje</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f5356c87_a2c0_4a8c_a5d1_f36a8e72cb6c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <interviewLabel>FF - Online Evaluation - Spanish</interviewLabel>
    <label>FF - Online Evaluation - Spanish</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_ff_online_evaluation_spanish_4_b98f3343_ea3e_4a15_81d3_ff3c61500a9b</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isAutosaveEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>Homewise Services &lt;noreply@homewise.org&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>FF_Evaluation_Spanish_1738805422692</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>es</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_661c3bee_f86c_4f80_ad27_3e4a40676d78</name>
        <label>Evaluation Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_093cfc01_e58c_4cf1_8d5c_bdf322dc8a02_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_093cfc01_e58c_4cf1_8d5c_bdf322dc8a02</name>
            <choiceReferences>c_7d123572_208e_46a5_940c_e504313bd195</choiceReferences>
            <choiceReferences>c_82c9df2a_40a5_4e1f_a582_3233701ec04f</choiceReferences>
            <choiceReferences>c_0f989808_29a8_4d68_8eca_cb79a9214d22</choiceReferences>
            <choiceReferences>c_5405497d_f089_47ae_b066_42e7b9a0ecae</choiceReferences>
            <choiceReferences>c_090e9d1f_8305_4cec_b21d_88c28566bc00</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;¿Cómo calificaría en general el taller de Salud Financiera de por Vida – Edicion en Linea de Homewise?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_eb5bb537_a9c9_4e49_8808_5d20dc400c46</name>
            <choiceReferences>c_5222dab7_e2e0_408c_b17a_4543b4f1e49f</choiceReferences>
            <choiceReferences>c_894e6022_4681_42a9_9c62_560c0c4ff8ec</choiceReferences>
            <choiceReferences>c_74606475_67c1_42fc_8212_0c312ea4bd51</choiceReferences>
            <choiceReferences>c_b3103738_2025_4467_8838_b19e34fbe16f</choiceReferences>
            <choiceReferences>c_7aaf5713_6193_4ac2_973c_33a122c2bc85</choiceReferences>
            <choiceReferences>c_e3f30b2d_6678_45d4_ada9_9174c98b2f40</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;¿Cuáles de los siguientes temas fueron los más útiles del taller? (Se puede seleccionar uno o más)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e826a7b7_1a71_4373_9104_f83e32c27b7c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;¿Cuál fue el tema menos útil del taller? ¿Por qué?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_88f43971_53fe_43f5_b84d_a9a5436c8073</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;Hara algún cambio al taller? O ¿hay un tema que no cubrimos de que le gustaría aprender?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e9301ba0_bd7d_40c3_9c31_ec90cd8f0026</name>
            <choiceReferences>c_53c42508_4b2b_44cd_88d4_1b8dd8804684</choiceReferences>
            <choiceReferences>c_605965e0_65d1_456e_9928_43ffb27ff321</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;¿Uso los folletos con los modulos?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_dba5f115_7710_4827_baa4_42ed091f1e4e_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dba5f115_7710_4827_baa4_42ed091f1e4e</name>
            <choiceReferences>c_22c3cbc2_fb06_4d0d_a530_bf45910a3bff</choiceReferences>
            <choiceReferences>c_f5356c87_a2c0_4a8c_a5d1_f36a8e72cb6c</choiceReferences>
            <choiceReferences>c_628cd80c_f0f9_4de6_8461_13f6b3868aba</choiceReferences>
            <choiceReferences>c_45a36354_152a_4f24_833c_7edd1ff842fb</choiceReferences>
            <choiceReferences>c_394cf08d_d6e5_4873_b142_3ef42206a08e</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Por favor, califique la utilidad de los folletos que acompañan al taller:&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dccbacee_9a4f_4d71_a7e0_523a2471f514</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;¿Los módulos de video fueron útiles y fáciles de entender? ¿Por que?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_77214ced_c57b_4266_b693_9a54efe13211</name>
            <choiceReferences>c_93177313_82e8_44cf_8edc_7c5f9a0f59f5</choiceReferences>
            <choiceReferences>c_7225caba_668b_44be_922c_17581bf4058f</choiceReferences>
            <choiceReferences>c_9c968061_c29c_4eea_beab_7ff8f375da1f</choiceReferences>
            <choiceReferences>c_f11377ce_2b26_4937_afc8_83bf06bc5eb7</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;¿Qué tan fácil fue acceder al sitio web, videos y pruebas?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4a7ceecc_e9bb_4960_ba43_2154d8a2b87e</name>
            <choiceReferences>c_545b8952_cfaa_4d14_8cbc_79b5fcd0f9a4</choiceReferences>
            <choiceReferences>c_80c7f970_04c6_49e7_b492_ca3f525e19db</choiceReferences>
            <choiceReferences>c_1ce7e52b_b62f_45aa_8799_9c3da6c7e850</choiceReferences>
            <choiceReferences>c_a6981988_4f26_4013_89b1_977699f78cd4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;¿Cuál de las opiciones se define mejor?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8a7f3b83_9a0c_4d28_808d_def26041195b</name>
            <choiceReferences>c_e6c7d6ba_99cd_47c6_932c_d2c558a4d4ec</choiceReferences>
            <choiceReferences>c_87793b8c_8dc9_48f4_b297_a751dc713a76</choiceReferences>
            <choiceReferences>c_b5503837_7337_43f9_a7b9_1d2d0f3dd154</choiceReferences>
            <choiceReferences>c_e2d33242_95e2_4c95_bc51_f903a528f8e9</choiceReferences>
            <choiceReferences>c_bf9ac2be_0a52_4a01_ada9_a1a11b14c1ee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;¿Cómo sabía del taller?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_661c3bee_f86c_4f80_ad27_3e4a40676d78</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate00</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Ir a Homewise</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;¡Gracias por completar la evaluación de la clase en línea &quot;Financial Fitness for Life&quot;! ¡Esperamos verte pronto en otra clase!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Puede cerrar esta pestaña o hacer clic en el enlace a continuación para volver a la página de inicio de Homewise.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Taller de Salud Financiera de por Vida&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaText0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouCtaTextTextTemplate00}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaUrl0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>https://homewise.org/</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_093cfc01_e58c_4cf1_8d5c_bdf322dc8a02_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_dba5f115_7710_4827_baa4_42ed091f1e4e_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
