force-app/main/default/flows/hbe_online_evaluation_eng.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_9aab7714_3566_496b_905e_73e2d8ece88c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_2a907ad0_c3d9_4f58_9853_f0cafeecb29d</name>
        <choiceText>It was very hard for me to find the materials with the information provided</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>It was very hard for me to find the materials with the information provided</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2ab6f6f2_aa58_47d3_9518_6720cc4b781d</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2f06995a_cd55_4999_af31_2e93540f95b3</name>
        <choiceText>Extremely helpful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_459d01de_d079_4660_be5b_9d822974b820</name>
        <choiceText>Not at all useful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_54a7ac13_8f6f_4639_96eb_5866a873c373</name>
        <choiceText>Not helpful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_567fe53e_e4f3_447d_a2c1_cc6475e8b0e0</name>
        <choiceText>Very helpful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_56d3bd75_6358_45b5_a004_46907ee64284</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_6be007c6_d1a2_4c36_bea6_0ff13f48b95b</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_70d63fe2_1a5b_4ceb_8b6b_68c887f0f958</name>
        <choiceText>Informative and helpful</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_afcbf45d_c596_4380_a433_91f0d719f6ed</name>
        <choiceText>It was a little tricky for me to follow the links and find the materials</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>It was a little tricky for me to follow the links and find the materials</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bfd4ea48_e7d4_4cf0_97fa_e86ceb187bfd</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bfdd5563_8604_4e91_a2ef_ae06a31580eb</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c2ab40b8_ffe1_4fa5_8324_47093fdf3ba4</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d168a40e_db73_4301_adcd_0e0c22c18afe</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d8d61168_9ab8_4b13_a7aa_7e61bbd4109e</name>
        <choiceText>Everything was very easy to access and it was clearly laid out.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Everything was very easy to access and it was clearly laid out. </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d93aa04f_ff55_4caa_b2f4_77048488cd0b</name>
        <choiceText>Not helpful at all</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_dd356541_03c5_489f_8e66_76993c8b2ee0</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e1a27fb3_6aee_4ae1_8b4b_0aab7515ac53</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e7d45cfa_3a12_48d9_ac15_73c286c6aa96</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e9093430_e933_4c55_9ae0_4aa43b1d07ec</name>
        <choiceText>I had to call Homewise to ask for help to access the videos, handouts and/or learning checks.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I had to call Homewise to ask for help to access the videos, handouts and/or learning checks. </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fe34a75d_5b6e_4bc1_8807_1ca4ac388b16</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <interviewLabel>HBE - Online Evaluation - Eng</interviewLabel>
    <label>HBE - Online Evaluation - Eng</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_hbe_online_evaluation_eng_4_712143fb_f081_4623_a4ea_86abb73cf810</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isAutosaveEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>Homewise Services &lt;noreply@homewise.org&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>HBE_Evaluation_1736279187000</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_9aab7714_3566_496b_905e_73e2d8ece88c</name>
        <label>Evaluation Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a46d9d8b_b0db_485f_85d2_cc1fcb96eb83_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a46d9d8b_b0db_485f_85d2_cc1fcb96eb83</name>
            <choiceReferences>c_54a7ac13_8f6f_4639_96eb_5866a873c373</choiceReferences>
            <choiceReferences>c_fe34a75d_5b6e_4bc1_8807_1ca4ac388b16</choiceReferences>
            <choiceReferences>c_e7d45cfa_3a12_48d9_ac15_73c286c6aa96</choiceReferences>
            <choiceReferences>c_dd356541_03c5_489f_8e66_76993c8b2ee0</choiceReferences>
            <choiceReferences>c_567fe53e_e4f3_447d_a2c1_cc6475e8b0e0</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;How would you rate the Virtual Homewise Homebuyer Education workshop overall? With 5 being the highest and 1 being the lowest?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a2919b6d_8ea4_4494_9bc9_7df1b0bab325</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;What was the most helpful topic reviewed in the workshop? Why?&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_52e9b0c6_08f1_4c6d_9f48_cdbfa7aa408d</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;What was the least helpful topic reviewed in the workshop? Why?&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5b1a3840_0028_40b7_a89f_6bf780a3de37</name>
            <choiceReferences>c_e1a27fb3_6aee_4ae1_8b4b_0aab7515ac53</choiceReferences>
            <choiceReferences>c_c2ab40b8_ffe1_4fa5_8324_47093fdf3ba4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;Did you use the accompanying handouts?&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_89270cfe_6dbb_42cc_be9f_9a5aa71cb239_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_89270cfe_6dbb_42cc_be9f_9a5aa71cb239</name>
            <choiceReferences>c_459d01de_d079_4660_be5b_9d822974b820</choiceReferences>
            <choiceReferences>c_bfdd5563_8604_4e91_a2ef_ae06a31580eb</choiceReferences>
            <choiceReferences>c_bfd4ea48_e7d4_4cf0_97fa_e86ceb187bfd</choiceReferences>
            <choiceReferences>c_6be007c6_d1a2_4c36_bea6_0ff13f48b95b</choiceReferences>
            <choiceReferences>c_70d63fe2_1a5b_4ceb_8b6b_68c887f0f958</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;If yes, please rate their usefulness with the course with 5 being the highest and 1 being the lowest.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_5b1a3840_0028_40b7_a89f_6bf780a3de37</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_e1a27fb3_6aee_4ae1_8b4b_0aab7515ac53</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_aa55b2f7_87f8_4b37_9496_6eaeb4dca347</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;Were the video modules helpful and easy to understand? Why?&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d654ca98_db2b_44b1_887c_99b4088c9174</name>
            <choiceReferences>c_d8d61168_9ab8_4b13_a7aa_7e61bbd4109e</choiceReferences>
            <choiceReferences>c_afcbf45d_c596_4380_a433_91f0d719f6ed</choiceReferences>
            <choiceReferences>c_2a907ad0_c3d9_4f58_9853_f0cafeecb29d</choiceReferences>
            <choiceReferences>c_e9093430_e933_4c55_9ae0_4aa43b1d07ec</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;How easy was it to access the website, videos and learning checks?&amp;nbsp;&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b1e28dd4_e31e_40a2_a0c1_219c2cc4b51a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b1e28dd4_e31e_40a2_a0c1_219c2cc4b51a</name>
            <choiceReferences>c_d93aa04f_ff55_4caa_b2f4_77048488cd0b</choiceReferences>
            <choiceReferences>c_d168a40e_db73_4301_adcd_0e0c22c18afe</choiceReferences>
            <choiceReferences>c_2ab6f6f2_aa58_47d3_9518_6720cc4b781d</choiceReferences>
            <choiceReferences>c_56d3bd75_6358_45b5_a004_46907ee64284</choiceReferences>
            <choiceReferences>c_2f06995a_cd55_4999_af31_2e93540f95b3</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;How useful will the knowledge you gained in this workshop be you on your homeownership journey? With 5 being extremely helpful and 1 being not helpful at all.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_9aab7714_3566_496b_905e_73e2d8ece88c</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate00</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Go to Homewise</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Thank you for completing the evaluation! We hope to see you in another class soon!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You may close this tab or click the link below to be taken back to the Homewise home page.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Welcome to the Home Buyer Education Post Workshop Evaluation!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaText0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouCtaTextTextTemplate00}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaUrl0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>https://homewise.org/</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_89270cfe_6dbb_42cc_be9f_9a5aa71cb239_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a46d9d8b_b0db_485f_85d2_cc1fcb96eb83_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b1e28dd4_e31e_40a2_a0c1_219c2cc4b51a_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
