force-app/main/default/flows/hbe_online_evaluation_spanish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_1b0a4b9a_6447_4044_9c5e_2c7a41561c6f</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_167f6bbc_49cb_4773_920c_6d8c1b8499fd</name>
        <choiceText>Extremadamente &amp;uacute;til</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2fae0acc_1e21_429b_8a0a_2731740e4f53</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4151e011_9c65_49b6_9c7b_d1894883021a</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4c6ead96_48b7_4aff_b8ba_de771b5ccc8d</name>
        <choiceText>Me result&amp;oacute; muy dif&amp;iacute;cil encontrar los materiales con la informaci&amp;oacute;n proporcionada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Me resultó muy difícil encontrar los materiales con la información proporcionada</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4f3cbe68_9f47_45f7_8d50_4970a7090d4a</name>
        <choiceText>No &amp;uacute;til</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_754416cb_906e_4d6b_89e9_b2870a182c4a</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7b957bc7_3c0e_4fa2_b0ed_8aa433805643</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7f61c0ad_820f_4f03_886d_8de39db6d4a5</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7ff5874c_b6f6_4564_8642_0e5b23e81a89</name>
        <choiceText>Tuve que llamar a Homewise para pedir ayuda para acceder a los videos, folletos y/o pruebas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuve que llamar a Homewise para pedir ayuda para acceder a los videos, folletos y/o pruebas</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_91d43515_d659_49c0_b76a_98e4a00c2d1a</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_956c598e_6a60_4da5_ae91_f9422931a730</name>
        <choiceText>In&amp;uacute;til</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_973f95c3_36d8_48f9_8a54_41e9dd77947d</name>
        <choiceText>In&amp;uacute;til</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bd5e5529_4bcd_4d55_9a6c_76f7823a6419</name>
        <choiceText>Muy &amp;uacute;til</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c143f085_6435_439f_a6f0_e3b9483569ea</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c1abfb8e_f4f3_466c_a52e_c14344a63733</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c7bb8a47_29b1_44bd_8af4_a477f5af40cd</name>
        <choiceText>Extremadamente &amp;uacute;til</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_cb65b3d8_d7a3_47a0_87a4_a3e034a0f317</name>
        <choiceText>Todo era muy f&amp;aacute;cil de acceder y estaba claramente establecido</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Todo era muy fácil de acceder y estaba claramente establecido</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dc4a537b_d743_41fd_ae6b_7c5e7f2e9cad</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_edb482c5_2b94_48af_83da_4897f28832c8</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f58a51b3_1225_4d25_9671_c3b6c8dd318f</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ff1e63b6_f464_4e1b_81fb_c7ebc674c05f</name>
        <choiceText>Fue un poco complicado para m&amp;iacute; seguir las instrucciones y encontrar los materiales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fue un poco complicado para mí seguir las instrucciones y encontrar los materiales</stringValue>
        </value>
    </choices>
    <interviewLabel>HBE - Online Evaluation - Spanish</interviewLabel>
    <label>HBE - Online Evaluation - Spanish</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_hbe_online_evaluation_spanish_13bf46e5_a17b_4141_ba95_071aabc289d2</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isAutosaveEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailSender</name>
        <value>
            <stringValue>Homewise Services &lt;noreply@homewise.org&gt;</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>HBE_Evaluation_1738805481364</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>InvitationRecordCreator</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>es</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_1b0a4b9a_6447_4044_9c5e_2c7a41561c6f</name>
        <label>Evaluation Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_523f7978_e7f9_4063_91a8_941d7ef6f46f_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_523f7978_e7f9_4063_91a8_941d7ef6f46f</name>
            <choiceReferences>c_4f3cbe68_9f47_45f7_8d50_4970a7090d4a</choiceReferences>
            <choiceReferences>c_c143f085_6435_439f_a6f0_e3b9483569ea</choiceReferences>
            <choiceReferences>c_2fae0acc_1e21_429b_8a0a_2731740e4f53</choiceReferences>
            <choiceReferences>c_edb482c5_2b94_48af_83da_4897f28832c8</choiceReferences>
            <choiceReferences>c_bd5e5529_4bcd_4d55_9a6c_76f7823a6419</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;¿Cómo calificaría en general el Taller para Compradores de Vivienda – Edición en Línea? ¿Con 5 siendo el más alto y 1 siendo el más bajo.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1eabc537_2de4_4294_bee3_08526d4e26ec</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;¿Cuál fue el tema más útil de la clase? ¿Por qué?&lt;/span&gt;&lt;strong style=&quot;font-size: 12pt;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1bee6e88_1890_46c1_93f7_9c033f768bf2</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;¿Cuál fue el tema menos útil de la clase? ¿Por qué?&lt;/span&gt;&lt;strong style=&quot;font-size: 12pt;&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_256e196f_4b57_4d5c_84d9_6a3143604812</name>
            <choiceReferences>c_f58a51b3_1225_4d25_9671_c3b6c8dd318f</choiceReferences>
            <choiceReferences>c_4151e011_9c65_49b6_9c7b_d1894883021a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;¿Uso los folletos con los módulos?&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_7108c5ea_042c_49e6_8af0_6ac78c70dabb_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7108c5ea_042c_49e6_8af0_6ac78c70dabb</name>
            <choiceReferences>c_956c598e_6a60_4da5_ae91_f9422931a730</choiceReferences>
            <choiceReferences>c_dc4a537b_d743_41fd_ae6b_7c5e7f2e9cad</choiceReferences>
            <choiceReferences>c_754416cb_906e_4d6b_89e9_b2870a182c4a</choiceReferences>
            <choiceReferences>c_7b957bc7_3c0e_4fa2_b0ed_8aa433805643</choiceReferences>
            <choiceReferences>c_167f6bbc_49cb_4773_920c_6d8c1b8499fd</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;En caso afirmativo, califique la utilidad de los folletos con el curso, siendo 5 el más alto y 1 el más bajo.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9d92cc72_1623_44c4_854a_e0634a8580a4</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;¿Los módulos de video fueron útiles y fáciles de entender? ¿Por qué?&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4be1fbb6_dabd_4dba_8528_6469c8e29884</name>
            <choiceReferences>c_cb65b3d8_d7a3_47a0_87a4_a3e034a0f317</choiceReferences>
            <choiceReferences>c_ff1e63b6_f464_4e1b_81fb_c7ebc674c05f</choiceReferences>
            <choiceReferences>c_4c6ead96_48b7_4aff_b8ba_de771b5ccc8d</choiceReferences>
            <choiceReferences>c_7ff5874c_b6f6_4564_8642_0e5b23e81a89</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;¿Qué tan fácil fue acceder al sitio web, videos y pruebas?&lt;strong&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_446eabe2_6ea1_4564_a398_29bb95d6f567_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_446eabe2_6ea1_4564_a398_29bb95d6f567</name>
            <choiceReferences>c_973f95c3_36d8_48f9_8a54_41e9dd77947d</choiceReferences>
            <choiceReferences>c_7f61c0ad_820f_4f03_886d_8de39db6d4a5</choiceReferences>
            <choiceReferences>c_91d43515_d659_49c0_b76a_98e4a00c2d1a</choiceReferences>
            <choiceReferences>c_c1abfb8e_f4f3_466c_a52e_c14344a63733</choiceReferences>
            <choiceReferences>c_c7bb8a47_29b1_44bd_8af4_a477f5af40cd</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;¿Qué tan útil será el conocimiento que adquirió en este taller en su camino acera la de propiedad de vivienda? Con 5 siendo extremadamente útil y 1 no siendo útil en absoluto.&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_1b0a4b9a_6447_4044_9c5e_2c7a41561c6f</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate00</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Ir a Homewise</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;¡Gracias por completar la evaluación! ¡Esperamos verte pronto en otra clase!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Puede cerrar esta pestaña o hacer clic en el enlace a continuación para volver a la página de inicio de Homewise.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;¡Bienvenido a la evaluación posterior al taller de educación para compradores de vivienda!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaText0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouCtaTextTextTemplate00}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaUrl0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>https://homewise.org/</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_446eabe2_6ea1_4564_a398_29bb95d6f567_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_523f7978_e7f9_4063_91a8_941d7ef6f46f_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_7108c5ea_042c_49e6_8af0_6ac78c70dabb_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
