force-app/main/default/flows/Module_Email_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_FF_Mod_2_Eng</name>
        <label>Send FF Mod 2 Eng</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <actionName>ff_online_learning_check_module_2_eng</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ff_online_learning_check_module_2_eng</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_FF_Mod_2_Spa</name>
        <label>Send FF Mod 2 Spa</label>
        <locationX>4010</locationX>
        <locationY>350</locationY>
        <actionName>ff_quiz_module_2_spa</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ff_quiz_module_2_spa</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_FF_Mod_3_Eng</name>
        <label>Send FF Mod 3 Eng</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <actionName>ff_online_learning_check_module_3_eng</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ff_online_learning_check_module_3_eng</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_FF_Mod_3_Spa</name>
        <label>Send FF Mod 3 Spa</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <actionName>ff_quiz_module_3_spa</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ff_quiz_module_3_spa</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_FF_Mod_4_Eng</name>
        <label>Send FF Mod 4 Eng</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <actionName>ff_online_learning_check_module_4_eng</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ff_online_learning_check_module_4_eng</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_FF_Mod_4_Spa</name>
        <label>Send FF Mod 4 Spa</label>
        <locationX>4538</locationX>
        <locationY>350</locationY>
        <actionName>ff_quiz_module_4_spa</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ff_quiz_module_4_spa</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_FF_Mod_5_Eng</name>
        <label>Send FF Mod 5 Eng</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <actionName>ff_online_learning_check_module_5_eng</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ff_online_learning_check_module_5_eng</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_FF_Mod_5_Spa</name>
        <label>Send FF Mod 5 Spa</label>
        <locationX>4802</locationX>
        <locationY>350</locationY>
        <actionName>ff_quiz_module_5_spa</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveySubjectEntity</name>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ff_quiz_module_5_spa</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_FF_Mod_6_Eng</name>
        <label>Send FF Mod 6 Eng</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <actionName>ff_online_learning_check_module_6_eng</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ff_online_learning_check_module_6_eng</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_FF_Mod_6_Spa</name>
        <label>Send FF Mod 6 Spa</label>
        <locationX>5066</locationX>
        <locationY>350</locationY>
        <actionName>ff_quiz_module_6_spa</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>ff_quiz_module_6_spa</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_HBE_Mod_2_Spa</name>
        <label>Send HBE Mod 2 Spa</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <actionName>hbe_quiz_module_2_spa</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>hbe_quiz_module_2_spa</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_HBE_Mod_3_Spa</name>
        <label>Send HBE Mod 3 Spa</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>hbe_quiz_module_3_spa</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>hbe_quiz_module_3_spa</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_HBE_Mod_4_Spa</name>
        <label>Send HBE Mod 4 Spa</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <actionName>hbe_quiz_module_4_spa</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>hbe_quiz_module_4_spa</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_HBE_Mod_5_Spa</name>
        <label>Send HBE Mod 5 Spa</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <actionName>hbe_quiz_module_5_spa</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>hbe_quiz_module_5_spa</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_HBE_Mod_6_Spa</name>
        <label>Send HBE Mod 6 Spa</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <actionName>hbe_quiz_module_6_spa</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>hbe_quiz_module_6_spa</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_HBE_Module_2_Eng</name>
        <label>Send HBE Module 2 Eng</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>hbe_quiz_module_2_eng</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>hbe_quiz_module_2_eng</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_HBE_Module_3_Eng</name>
        <label>Send HBE Module 3 Eng</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>hbe_quiz_module_3_eng</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>hbe_quiz_module_3_eng</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_HBE_Module_4_Eng</name>
        <label>Send HBE Module 4 Eng</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>hbe_quiz_module_4_eng</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>hbe_quiz_module_4_eng</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_HBE_Module_5_Eng</name>
        <label>Send HBE Module 5 Eng</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <actionName>hbe_quiz_module_5_eng</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>hbe_quiz_module_5_eng</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_HBE_Module_6_Eng</name>
        <label>Send HBE Module 6 Eng</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <actionName>hbe_quiz_module_6_eng</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Get_Survey_Response_Id.SubmitterId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalInvitation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>hbe_quiz_module_6_eng</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <description>Identify which survey is from the response</description>
        <name>Which_Survey</name>
        <label>Which Survey?</label>
        <locationX>2690</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HBE_Mod_1_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HBE - Quiz - Eng</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HBE_Module_2_Eng</targetReference>
            </connector>
            <label>HBE Mod 1 Eng</label>
        </rules>
        <rules>
            <name>HBE_Mod_2_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HBE - Quiz - Module 2 - Eng</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HBE_Module_3_Eng</targetReference>
            </connector>
            <label>HBE Mod 2 Eng</label>
        </rules>
        <rules>
            <name>HBE_Mod_3_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HBE - Quiz - Module 3 - Eng</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HBE_Module_4_Eng</targetReference>
            </connector>
            <label>HBE Mod 3 Eng</label>
        </rules>
        <rules>
            <name>HBE_Mod_4_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HBE - Quiz - Module 4 - Eng</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HBE_Module_5_Eng</targetReference>
            </connector>
            <label>HBE Mod 4 Eng</label>
        </rules>
        <rules>
            <name>HBE_Mod_5_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HBE - Quiz - Module 5 - Eng</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HBE_Module_6_Eng</targetReference>
            </connector>
            <label>HBE Mod 5 Eng</label>
        </rules>
        <rules>
            <name>HBE_Mod_1_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HBE - Quiz - Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HBE_Mod_2_Spa</targetReference>
            </connector>
            <label>HBE Mod 1 Spa</label>
        </rules>
        <rules>
            <name>HBE_Mod_2_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HBE - Quiz - Module 2 - Spa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HBE_Mod_3_Spa</targetReference>
            </connector>
            <label>HBE Mod 2 Spa</label>
        </rules>
        <rules>
            <name>HBE_Mod_3_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HBE - Quiz - Module 3 - Spa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HBE_Mod_4_Spa</targetReference>
            </connector>
            <label>HBE Mod 3 Spa</label>
        </rules>
        <rules>
            <name>HBE_Mod_4_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HBE - Quiz - Module 4 - Spa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HBE_Mod_5_Spa</targetReference>
            </connector>
            <label>HBE Mod 4 Spa</label>
        </rules>
        <rules>
            <name>HBE_Mod_5_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HBE - Quiz - Module 5 - Spa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HBE_Mod_6_Spa</targetReference>
            </connector>
            <label>HBE Mod 5 Spa</label>
        </rules>
        <rules>
            <name>FF_Mod_1_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_FF_Mod_2_Eng</targetReference>
            </connector>
            <label>FF Mod 1 Eng</label>
        </rules>
        <rules>
            <name>FF_Mod_2_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_FF_Mod_3_Eng</targetReference>
            </connector>
            <label>FF Mod 2 Eng</label>
        </rules>
        <rules>
            <name>FF_Mod_3_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_FF_Mod_4_Eng</targetReference>
            </connector>
            <label>FF Mod 3 Eng</label>
        </rules>
        <rules>
            <name>FF_Mod_4_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_FF_Mod_5_Eng</targetReference>
            </connector>
            <label>FF Mod 4 Eng</label>
        </rules>
        <rules>
            <name>FF_Mod_5_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_FF_Mod_6_Eng</targetReference>
            </connector>
            <label>FF Mod 5 Eng</label>
        </rules>
        <rules>
            <name>FF_Mod_1_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_FF_Mod_2_Spa</targetReference>
            </connector>
            <label>FF Mod 1 Spa</label>
        </rules>
        <rules>
            <name>FF_Mod_2_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_FF_Mod_3_Spa</targetReference>
            </connector>
            <label>FF Mod 2 Spa</label>
        </rules>
        <rules>
            <name>FF_Mod_3_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_FF_Mod_4_Spa</targetReference>
            </connector>
            <label>FF Mod 3 Spa</label>
        </rules>
        <rules>
            <name>FF_Mod_4_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_FF_Mod_5_Spa</targetReference>
            </connector>
            <label>FF Mod 4 Spa</label>
        </rules>
        <rules>
            <name>FF_Mod_5_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Survey_Response_Id.Invitation.Survey.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_FF_Mod_6_Spa</targetReference>
            </connector>
            <label>FF Mod 5 Spa</label>
        </rules>
    </decisions>
    <description>Used to send follow up surveys after they pass the previous modules</description>
    <environments>Default</environments>
    <interviewLabel>Module Email Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Module Email Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Survey_Response_Id</name>
        <label>Get Survey Response Id</label>
        <locationX>2690</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>surveyResponseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2564</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Survey_Response_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>surveyResponseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
