force-app/main/default/flows/nhnw_learning_check_spanish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_fa6de900_ca8c_4b74_bd0b_f95f3822e0db</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_05846287_299c_45f1_a752_64292f26c1d0</name>
        <choiceText>1-5 a&amp;ntilde;os</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1-5 años</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_30193df7_685e_489a_b33a_794e025f1219</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3a55e1e4_481d_4f32_ab9e_deb1331bd394</name>
        <choiceText>Me result&amp;oacute; muy dif&amp;iacute;cil encontrar los materiales con la informaci&amp;oacute;n proporcionada.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Me resultó muy difícil encontrar los materiales con la información proporcionada.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3d38fac3_7b7b_4571_bb6f_f228f7d09908</name>
        <choiceText>Preventivo, Reparaci&amp;oacute;n/Reemplazo, Mejoramiento del Hogar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Preventivo, Reparación/Reemplazo, Mejoramiento del Hogar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3f4d80bd_43fc_47c9_9042_680d0e2a91d0</name>
        <choiceText>c.	Formando una Comunidad Pr&amp;oacute;spera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>c.	Formando una Comunidad Próspera</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3fa1cafd_c6e1_448e_99a7_3db912d48ebd</name>
        <choiceText>5-10 a&amp;ntilde;os</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5-10 años</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_45e893b9_6afd_4d02_94aa_7a71faae77b7</name>
        <choiceText>10%</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10%</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_50e4f732_03a5_4427_9441_d5e84409c2ed</name>
        <choiceText>Fue un poco complicado para m&amp;iacute; seguir los enlaces y encontrar los materiales.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fue un poco complicado para mí seguir los enlaces y encontrar los materiales.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_575479a4_f326_46c2_aa74_8239fd56e978</name>
        <choiceText>Reparar, Reemplazar, Arreglar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reparar, Reemplazar, Arreglar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6bbefba1_3cbf_4cf8_88c3_f5697b37b618</name>
        <choiceText>a.	Mantenimiento del Hogar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>a.	Mantenimiento del Hogar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_724e93f0_bc24_4aa6_9af6_e5ebbaf2a2fc</name>
        <choiceText>5%</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5%</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_73c3b410_4388_447b_b6bc_bdde4265d36c</name>
        <choiceText>0-1 a&amp;ntilde;os</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0-1 años</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_74e24191_0a87_4a75_9d6c_a2382bf4b5e8</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_77983ad2_c26a_4413_ae0d_087fe9bcb553</name>
        <choiceText>3%</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3%</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7c1a9c39_a44f_4938_9f5f_6cca34b757b6</name>
        <choiceText>b.	Su Nuevo Mundo Financiero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>b.	Su Nuevo Mundo Financiero </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_92e26e5f_f9d1_45c4_874e_b0f15092942e</name>
        <choiceText>Tuve que llamar a Homewise para pedir ayuda para acceder a los videos, folletos y/o la comprobaci&amp;oacute;n de aprendizaje.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuve que llamar a Homewise para pedir ayuda para acceder a los videos, folletos y/o la comprobación de aprendizaje.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_95aced10_8e81_4bf5_9d40_a629b5657c50</name>
        <choiceText>Muy &amp;uacute;til</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_c5d147a3_5c11_4f4e_ade0_6d617e7a3e7a</name>
        <choiceText>In&amp;uacute;til</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d1513fab_5d36_42c1_906e_cd01c92da4b9</name>
        <choiceText>10+ a&amp;ntilde;os</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10+ años</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d3f90a6d_ea4a_46df_a742_0c09a5867b54</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_d447e023_74f3_458b_a852_dacc84a91aaa</name>
        <choiceText>1%</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1%</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d888de14_fd76_465c_8ca9_4bc4b30590d8</name>
        <choiceText>Mal, Muy Mal, Peor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mal, Muy Mal, Peor</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e386f4a4_282a_46bf_9c4e_e589db7b993f</name>
        <choiceText>DIY (hecho por usted), Contratista, Especialista</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DIY (hecho por usted), Contratista, Especialista</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f6a4705e_8ce9_4334_9235_172db85fedcb</name>
        <choiceText>Todo fue muy f&amp;aacute;cil de acceder y estaba claramente organizado.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Todo fue muy fácil de acceder y estaba claramente organizado.</stringValue>
        </value>
    </choices>
    <interviewLabel>NHNW - Learning Check - Spanish</interviewLabel>
    <label>NHNW - Learning Check - Spanish</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_nhnw_learning_check_spanish_2_e00a590f_2f28_4fca_bdd4_c7130abccf44</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>es</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_fa6de900_ca8c_4b74_bd0b_f95f3822e0db</name>
        <label>Evaluation Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2a8313b4_2502_44bf_973b_d315b2eb64e7</name>
            <choiceReferences>c_3d38fac3_7b7b_4571_bb6f_f228f7d09908</choiceReferences>
            <choiceReferences>c_d888de14_fd76_465c_8ca9_4bc4b30590d8</choiceReferences>
            <choiceReferences>c_575479a4_f326_46c2_aa74_8239fd56e978</choiceReferences>
            <choiceReferences>c_e386f4a4_282a_46bf_9c4e_e589db7b993f</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;1. &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;¿Cuáles son los 3 niveles de mantenimiento?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bd6d0516_14f6_4dbe_8b09_268b96319a55</name>
            <choiceReferences>c_77983ad2_c26a_4413_ae0d_087fe9bcb553</choiceReferences>
            <choiceReferences>c_724e93f0_bc24_4aa6_9af6_e5ebbaf2a2fc</choiceReferences>
            <choiceReferences>c_d447e023_74f3_458b_a852_dacc84a91aaa</choiceReferences>
            <choiceReferences>c_45e893b9_6afd_4d02_94aa_7a71faae77b7</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;2. ¿Un propietario de vivienda debe ahorrar un fondo de mantenimiento anual igual a cuál porcentaje del valor de su hogar?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6d276a75_6266_4ebe_b017_aeb1b010a075</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;3. ¿Cómo piensa usted que puede ayudar a su comunidad a prosperar? &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;((escriba aquí))&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_847bc2fd_b571_4bca_8047_cb793105363d</name>
            <choiceReferences>c_6bbefba1_3cbf_4cf8_88c3_f5697b37b618</choiceReferences>
            <choiceReferences>c_7c1a9c39_a44f_4938_9f5f_6cca34b757b6</choiceReferences>
            <choiceReferences>c_3f4d80bd_43fc_47c9_9042_680d0e2a91d0</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;4. &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;¿Cuál de los siguientes módulos fue el más útil para usted?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_ca46aa8d_e86f_46c6_a612_5ec48be0ecba_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ca46aa8d_e86f_46c6_a612_5ec48be0ecba</name>
            <choiceReferences>c_c5d147a3_5c11_4f4e_ade0_6d617e7a3e7a</choiceReferences>
            <choiceReferences>c_d3f90a6d_ea4a_46df_a742_0c09a5867b54</choiceReferences>
            <choiceReferences>c_74e24191_0a87_4a75_9d6c_a2382bf4b5e8</choiceReferences>
            <choiceReferences>c_30193df7_685e_489a_b33a_794e025f1219</choiceReferences>
            <choiceReferences>c_95aced10_8e81_4bf5_9d40_a629b5657c50</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;5. En general, ¿cómo evaluaría usted el taller Nuevo Hogar ¿Ahora Qué? – Edición en Línea?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4a230a10_d687_4101_9a26_0d36c493836f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;6. &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;¿Hay algún cambio que quisiera hacerle la clase? ¿Algún tema que no vió en el taller y quisiera ver en el futuro? ((escriba aquí))&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_adf998af_138a_4eed_9008_5256787ce1c7</name>
            <choiceReferences>c_73c3b410_4388_447b_b6bc_bdde4265d36c</choiceReferences>
            <choiceReferences>c_05846287_299c_45f1_a752_64292f26c1d0</choiceReferences>
            <choiceReferences>c_3fa1cafd_c6e1_448e_99a7_3db912d48ebd</choiceReferences>
            <choiceReferences>c_d1513fab_5d36_42c1_906e_cd01c92da4b9</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;7. &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;¿Cuánto tiempo ha sido propietario de vivienda?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>FINISH</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0e2ec648_fc4f_46ef_9f08_aef63c5a75f3</name>
            <choiceReferences>c_f6a4705e_8ce9_4334_9235_172db85fedcb</choiceReferences>
            <choiceReferences>c_50e4f732_03a5_4427_9441_d5e84409c2ed</choiceReferences>
            <choiceReferences>c_3a55e1e4_481d_4f32_ab9e_deb1331bd394</choiceReferences>
            <choiceReferences>c_92e26e5f_f9d1_45c4_874e_b0f15092942e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 14px;&quot;&gt;8. &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;¿Qué tan fácil fue acceder al sitio web, a los videos y a la comprobación de aprendizaje?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_fa6de900_ca8c_4b74_bd0b_f95f3822e0db</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouCtaTextTextTemplate00</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Go to Homewise</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Thank you for completing this evaluation! We hope to see you in another class soon!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You may close this tab or click the link below to be taken back to the Homewise home page.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;¡Bienvenido a &quot;Nuevo Hogar, Y Ahora Qué&quot; Comprobación de Aprendizaje y Evaluación!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaText0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouCtaTextTextTemplate00}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouCtaUrl0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>https://homewise.org/</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_ca46aa8d_e86f_46c6_a612_5ec48be0ecba_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
