force-app/main/default/flows/Online_Class_Lead_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_the_Lead</name>
        <label>Convert the Lead</label>
        <locationX>974</locationX>
        <locationY>839</locationY>
        <actionName>LeadConversionHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_New_Contact_to_Campaign</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LeadConversionHandler</nameSegment>
        <outputParameters>
            <assignToReference>convertedContactId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Does_a_Duplicate_Lead_Exist</name>
        <label>Does a Duplicate Lead Exist?</label>
        <locationX>842</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Convert_the_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Duplicate_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Lead_as_Duplicate</targetReference>
            </connector>
            <label>Duplicate Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grab_Which_Campaign</name>
        <label>Grab Which Campaign?</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Duplicate_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HBE_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual HBE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HBE_Eng_Online_Campaign</targetReference>
            </connector>
            <label>HBE Eng</label>
        </rules>
        <rules>
            <name>HBE_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual HBE Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_HBE_Spa_Online_Campaign</targetReference>
            </connector>
            <label>HBE Spa</label>
        </rules>
        <rules>
            <name>FF_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual FF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FF_Eng_Online_Campaign</targetReference>
            </connector>
            <label>FF Eng</label>
        </rules>
        <rules>
            <name>FF_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual FF Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FF_Spa_Online_Campaign</targetReference>
            </connector>
            <label>FF Spa</label>
        </rules>
        <rules>
            <name>NHNW_Eng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual NHNW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NHNW_Eng_Online_Campaign</targetReference>
            </connector>
            <label>NHNW Eng</label>
        </rules>
        <rules>
            <name>NHNW_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Origin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virtual NHNW Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NHNW_Spa_Online_Campaign</targetReference>
            </connector>
            <label>NHNW Spa</label>
        </rules>
    </decisions>
    <description>Used for processing inbound online class registrants</description>
    <environments>Default</environments>
    <interviewLabel>Online Class Lead Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Online Class Lead Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_New_Contact_to_Campaign</name>
        <label>Add New Contact to Campaign</label>
        <locationX>974</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>rVarCampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>convertedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_to_Campaign</name>
        <label>Add to Campaign</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>rVarCampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Duplicate_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Duplicate_Contact</name>
        <label>Get Duplicate Contact</label>
        <locationX>842</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_a_Duplicate_Lead_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_Eng_Online_Campaign</name>
        <label>Get FF Eng Online Campaign</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FF Online English</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>rVarCampaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Language__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_FF_Spa_Online_Campaign</name>
        <label>Get FF Spa Online Campaign</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FF Online Spanish</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>rVarCampaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Language__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_HBE_Eng_Online_Campaign</name>
        <label>Get HBE Eng Online Campaign</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HBE Online English</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>rVarCampaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Language__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_HBE_Spa_Online_Campaign</name>
        <label>Get HBE Spa Online Campaign</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HBE Online Spanish</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>rVarCampaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Language__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_NHNW_Eng_Online_Campaign</name>
        <label>Get NHNW Eng Online Campaign</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NHNW Online English</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>rVarCampaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Language__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_NHNW_Spa_Online_Campaign</name>
        <label>Get NHNW Spa Online Campaign</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Duplicate_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NHNW Online Spanish</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>rVarCampaign</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Language__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Lead_as_Duplicate</name>
        <label>Mark Lead as Duplicate</label>
        <locationX>710</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Add_to_Campaign</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Duplicate</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Grab_Which_Campaign</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Lead_Origin__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Virtual</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>convertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>rVarCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
