force-app/main/default/flows/Quiz_Certificate_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_FF_Certificate</name>
        <label>Generate FF Certificate</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>CertificateGeneratorService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>certificateDate</name>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>certificateType</name>
            <value>
                <stringValue>HW_FF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>$Record.Full_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CertificateGeneratorService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_HBE_Certificate</name>
        <label>Generate HBE Certificate</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>CertificateGeneratorService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>certificateDate</name>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>certificateType</name>
            <value>
                <stringValue>HBE_English</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>$Record.Full_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CertificateGeneratorService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_SFF_Certificate</name>
        <label>Generate SFF Certificate</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>CertificateGeneratorService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>certificateDate</name>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>certificateType</name>
            <value>
                <stringValue>HW_SFF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>$Record.Full_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CertificateGeneratorService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_SHBE_Certificate</name>
        <label>Generate SHBE Certificate</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>CertificateGeneratorService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>certificateDate</name>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>certificateType</name>
            <value>
                <stringValue>HBE_Spanish</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>$Record.Full_Name__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CertificateGeneratorService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>FF_Language</name>
        <label>FF Language</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FF_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_FF_Certificate</targetReference>
            </connector>
            <label>FF English</label>
        </rules>
        <rules>
            <name>FF_Spanish</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_SFF_Certificate</targetReference>
            </connector>
            <label>FF Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>HBE_Language</name>
        <label>HBE Language</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HBE_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_HBE_Certificate</targetReference>
            </connector>
            <label>HBE English</label>
        </rules>
        <rules>
            <name>HBE_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_SHBE_Certificate</targetReference>
            </connector>
            <label>HBE Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Passed_All_Modules</name>
        <label>Passed All Modules?</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>FF_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FF_Passed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FF_Language</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>FF Passed</label>
        </rules>
        <rules>
            <name>HBE_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HBE_Passed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HBE_Language</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>HBE Passed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Quiz Certificate Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quiz Certificate Generator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Passed_All_Modules</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FF_Module_1_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FF_Module_2_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FF_Module_3_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FF_Module_4_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FF_Module_5_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FF_Module_6_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HBE_Module_1_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HBE_Module_2_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HBE_Module_3_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HBE_Module_4_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HBE_Module_5_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HBE_Module_6_Percent__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
