force-app/main/default/flows/Quiz_Response_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_1_point</name>
        <label>Assign 1 point</label>
        <locationX>2866</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>totalScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Metadata_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Metadata_Single</name>
        <label>Assign Metadata Single</label>
        <locationX>3284</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>metadataSingle.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Metadata_Answers.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Matching_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Questions</name>
        <label>Count of Questions</label>
        <locationX>2778</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>questionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Metadata_Answers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Question</name>
        <label>Subtract Question</label>
        <locationX>3306</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>questionCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Metadata_Answers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Matching_Answers</name>
        <label>Matching Answers?</label>
        <locationX>2998</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Loop_Metadata_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata_Answers.Answer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Quiz_Answers.ResponseShortText</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1_point</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Question</name>
        <label>Matching Question?</label>
        <locationX>3284</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Loop_Metadata_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata_Answers.Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Quiz_Answers.Question.QuestionName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Metadata_Answers.Exclude_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Answers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Excluded_from_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Metadata_Answers.Exclude_Score__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Metadata_Answers.Question__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Quiz_Answers.Question.QuestionName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_Question</targetReference>
            </connector>
            <label>Excluded from Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Module</name>
        <label>Which Module?</label>
        <locationX>1766</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FF_Module_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FF Module 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FF_Mod_1_Score</targetReference>
            </connector>
            <label>FF - Module 1</label>
        </rules>
        <rules>
            <name>FF_Module_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FF Module 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FF_Mod_2_Score</targetReference>
            </connector>
            <label>FF - Module 2</label>
        </rules>
        <rules>
            <name>FF_Module_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FF Module 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FF_Mod_3_Score</targetReference>
            </connector>
            <label>FF - Module 3</label>
        </rules>
        <rules>
            <name>FF_Module_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FF Module 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FF_Mod_4_Score</targetReference>
            </connector>
            <label>FF - Module 4</label>
        </rules>
        <rules>
            <name>FF_Module_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FF Module 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FF_Mod_5_Score</targetReference>
            </connector>
            <label>FF - Module 5</label>
        </rules>
        <rules>
            <name>FF_Module_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>FF Module 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FF_Mod_6_Score</targetReference>
            </connector>
            <label>FF - Module 6</label>
        </rules>
        <rules>
            <name>HBE_Module_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>HBE Module 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HBE_Mod_1_Score</targetReference>
            </connector>
            <label>HBE - Module 1</label>
        </rules>
        <rules>
            <name>HBE_Module_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>HBE Module 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HBE_Mod_2_Score</targetReference>
            </connector>
            <label>HBE - Module 2</label>
        </rules>
        <rules>
            <name>HBE_Module_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>HBE Module 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HBE_Mod_3_Score</targetReference>
            </connector>
            <label>HBE - Module 3</label>
        </rules>
        <rules>
            <name>HBE_Module_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>HBE Module 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HBE_Mod_4_Score</targetReference>
            </connector>
            <label>HBE - Module 4</label>
        </rules>
        <rules>
            <name>HBE_Module_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>HBE Module 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HBE_Mod_5_Score</targetReference>
            </connector>
            <label>HBE - Module 5</label>
        </rules>
        <rules>
            <name>HBE_Module_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>HBE Module 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HBE_Mod_6_Score</targetReference>
            </connector>
            <label>HBE - Module 6</label>
        </rules>
        <rules>
            <name>NHNW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metadataSingle.Label</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NHNW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NHNW_Score</targetReference>
            </connector>
            <label>NHNW</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>percentScore</name>
        <dataType>Number</dataType>
        <expression>({!totalScore}/{!questionCount})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Quiz Response Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quiz Response Calculator</label>
    <loops>
        <name>Loop_Metadata_Answers</name>
        <label>Loop Metadata Answers</label>
        <locationX>2778</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Metadata_Quiz_Answers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Metadata_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Quiz_Answers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Quiz_Answers</name>
        <label>Loop Quiz Answers</label>
        <locationX>1766</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Quiz_Answers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_of_Questions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_Module</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Metadata_Quiz_Answers</name>
        <label>Get Metadata Quiz Answers</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quiz_Answers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Survey.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Survey_Answer__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quiz_Answers</name>
        <label>Get Quiz Answers</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Metadata_Quiz_Answers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyQuestionResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Responder_Contact</name>
        <label>Get Responder Contact</label>
        <locationX>1766</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quiz_Answers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubmitterId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FF_Mod_1_Score</name>
        <label>Update FF Mod 1 Score</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>FF_Module_1_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FF_Mod_2_Score</name>
        <label>Update FF Mod 2 Score</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>FF_Module_2_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FF_Mod_3_Score</name>
        <label>Update FF Mod 3 Score</label>
        <locationX>578</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>FF_Module_3_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FF_Mod_4_Score</name>
        <label>Update FF Mod 4 Score</label>
        <locationX>842</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>FF_Module_4_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FF_Mod_5_Score</name>
        <label>Update FF Mod 5 Score</label>
        <locationX>1106</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>FF_Module_5_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FF_Mod_6_Score</name>
        <label>Update FF Mod 6 Score</label>
        <locationX>1370</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>FF_Module_6_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HBE_Mod_1_Score</name>
        <label>Update HBE Mod 1 Score</label>
        <locationX>1634</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>HBE_Module_1_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HBE_Mod_2_Score</name>
        <label>Update HBE Mod 2 Score</label>
        <locationX>1898</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>HBE_Module_2_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HBE_Mod_3_Score</name>
        <label>Update HBE Mod 3 Score</label>
        <locationX>2162</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>HBE_Module_3_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HBE_Mod_4_Score</name>
        <label>Update HBE Mod 4 Score</label>
        <locationX>2426</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>HBE_Module_4_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HBE_Mod_5_Score</name>
        <label>Update HBE Mod 5 Score</label>
        <locationX>2690</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>HBE_Module_5_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_HBE_Mod_6_Score</name>
        <label>Update HBE Mod 6 Score</label>
        <locationX>2954</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>HBE_Module_6_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NHNW_Score</name>
        <label>Update NHNW Score</label>
        <locationX>3218</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>NHNW_Percent__c</field>
            <value>
                <elementReference>percentScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Invitation.Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Responder_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>SurveyResponse</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>metadataSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Answer__mdt</objectType>
    </variables>
    <variables>
        <name>questionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
